[submodule "src/third-party/StormLib"]
	path = src/third-party/StormLib
	url = https://github.com/ladislav-zezula/StormLib
[submodule "src/third-party/CascLib"]
	path = src/third-party/CascLib
	url = https://github.com/ladislav-zezula/CascLib
